body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  min-width: 320px;
  background-color: #ffffff;
  display: flex;
  overflow: hidden;
}

main {
  display: flex;
  flex: 1;
}

.content-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  z-index: 99999;
}

.content {
  margin: auto;
}

.image {
  position: fixed;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 40vmin;

  &[data-status="inactive"] {
    display: none;
  }

  &[data-status="active"] {
    display: block;
  }
}

p {
  font-family: "Roboto Slab", "Helvetica";
  font-weight: 500;
  font-size: 20pt;
  line-height: 175%;
  color: #000000;
  margin: 1rem;
}

a,
.image-button {
  color: #000000;
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.5rem;
  text-decoration-color: rgba(#000000, 0.65);

  &:hover {
    color: #ff5400;
    text-decoration-color: rgba(#ff5400, 0.65);
    cursor: pointer;
  }
}
