* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  min-width: 320px;
  background-color: #ffffff;
  display: flex;
}

main {
  display: flex;
  flex: 1;
}

.content-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
}

.content:first-child {
  margin-top: auto;
}

.content:last-child {
  margin-bottom: auto;
}

p {
  font-family: "Roboto Slab";
  font-weight: 500;
  font-size: 20pt;
  line-height: 175%;
  color: #000000;
  margin: 1rem;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: #ff5400;
}
